<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title> <!-- Başlık kısmı -->
    <ion-buttons slot="end"> <!-- Araç çubuğunun sağ tarafındaki butonlar -->
        <ion-button [routerLink]="['/content/favorites']">
          <ion-icon slot="icon-only" src="/assets/icon/notification.svg"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Profil başlığı -->
  <div class="profile-header">
    <ion-avatar class="profile-avatar">
      <img src="https://i.pravatar.cc/300" alt="Profile Picture"> <!-- Profil fotoğrafı -->
    </ion-avatar>
    <h2 class="profile-name">Name - Surname</h2> <!-- Profil adı ve soyadı -->
    <ion-button class="edit-profile-btn" fill="solid">Edit Profile</ion-button> <!-- Profil düzenleme butonu -->
  </div>

  <!-- Tarif filtreleri -->
  <div class="recipe-filters">
    <ion-button class="filter-btn active" fill="solid">Old Recipes</ion-button> <!-- Aktif buton: Eski Tarifler -->
    <ion-button class="filter-btn" fill="clear">Favorites</ion-button> <!-- Favoriler butonu -->
  </div>
</ion-content>
