<ion-header class="light-header">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar class="profile-avatar">
        <div 
          *ngIf="!user.imageUrl" 
          class="user-avatar" 
          [ngStyle]="{ 'background-color': userColor }"
        >
          {{ userInitial }}
        </div>
        <img *ngIf="user.imageUrl" [src]="user.imageUrl" alt="{{ user.name }}" />
      </ion-avatar>
      <ion-label>
        <h5>Hoşgeldin, 👋🏻</h5>
        <h6 class="user-name" *ngIf="user">{{ userName }}</h6>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

