<ion-content>
  <div class="inventory-container">
          <!-- (ionChange) triggers when the input loses focus or the user presses enter. 
           (ionInput) triggers on every input change, which is more responsive for search functionality. --> 
    <div class="list-header">
      <h1>Mutfağım</h1>
    </div>

    <app-category [chips]="['Hepsi','Sebze','Meyve','Et','Süt Ürünleri','Kuruyemiş']"></app-category>

    <ion-searchbar 
    placeholder="Type ingredients..." 
    [(ngModel)]="searchTerm"
    (ionChange)="onSearchChange($event)" 
    class="custom-searchbar">
  </ion-searchbar>
  <div class="items-count-container">
    <span class="items-count">{{ filteredItems.length }} items</span>
    <ion-buttons class="selection-buttons">
      <ion-button (click)="toggleSelectMode()">
        {{ isSelectMode ? 'Seçimi Kapat' : 'Seç' }}
      </ion-button>
      <ion-button *ngIf="isSelectMode" (click)="selectAllItems()">
        Hepsini Seç
      </ion-button>
    </ion-buttons>
  </div>
    <ion-list class="inventory-list">
      <ion-item-sliding *ngFor="let item of filteredItems">
        <ion-item lines="full">
          <ion-avatar slot="start">
            <img [src]="item.ingImgUrl" />
          </ion-avatar>
          <ion-label>
            <h2>{{ item.ingredientName }}</h2>
            <!-- <p>{{ item.quantity }} {{ item.unit }}</p> -->
          </ion-label>
          <ion-checkbox slot="end" *ngIf="isSelectMode" [checked]="selectedItems.includes(item)"></ion-checkbox>
        </ion-item>
        <ion-item-options side="end" *ngIf="!isSelectMode">
          <ion-item-option color="danger" (click)="removeItem(item.ingredientId)" class="small-trash">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div *ngIf="!isSelectMode">
      <ion-button expand="block" class="add-button" (click)="openAddItemModal()">
        Add New Item
      </ion-button>
    </div>
    <div *ngIf="isSelectMode" class="action-buttons">
      <ion-button class="add-button" color="danger" (click)="removeSelectedItems()">
        Sil
      </ion-button>
    </div>
  </div>
</ion-content>
