<!-- profile-edit.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Profil Bilgileri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="https://i.pravatar.cc/150?img=3" />
    </ion-avatar>
    <h2>{{ firstName }} {{ lastName }}</h2>
    <p>Of, Trabzon</p>
  </div>

  <ion-list>
    <!-- First Name -->
    <ion-item lines="full"> <!-- Çizgili hatlar görünür -->
      <ion-label position="stacked">İsim</ion-label>
      <ion-input 
        [disabled]="!isEditingFirstName" 
        [(ngModel)]="firstName">
      </ion-input>
      <ion-buttons slot="end">
        <!-- Edit butonu turuncu -->
        <ion-button fill="clear" (click)="toggleEdit('firstName')">
          {{ isEditingFirstName ? 'Kaydet' : 'Edit' }}
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Last Name -->
    <ion-item lines="full">
      <ion-label position="stacked">Soyisim</ion-label>
      <ion-input 
        [disabled]="!isEditingLastName" 
        [(ngModel)]="lastName">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleEdit('lastName')">
          {{ isEditingLastName ? 'Kaydet' : 'Edit' }}
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Gender -->
    <ion-item lines="full">
      <ion-label position="stacked">Cinsiyet</ion-label>
      <ng-container *ngIf="isEditingGender; else genderText">
        <ion-select interface="action-sheet" [(ngModel)]="gender">
          <ion-select-option value="Male">Erkek</ion-select-option>
          <ion-select-option value="Female">Kadın</ion-select-option>
          <ion-select-option value="Other">Diğer</ion-select-option>
        </ion-select>
      </ng-container>
      <ng-template #genderText>
        <div class="static-text">{{ gender }}</div>
      </ng-template>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleEdit('gender')">
          {{ isEditingGender ? 'Kaydet' : 'Edit' }}
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Email -->
    <ion-item lines="full">
      <ion-label position="stacked">E-posta</ion-label>
      <ion-input 
        [disabled]="!isEditingEmail" 
        [(ngModel)]="email">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleEdit('email')">
          {{ isEditingEmail ? 'Kaydet' : 'Edit' }}
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Mobile Number -->
    <ion-item lines="full">
      <ion-label position="stacked">Telefon Numarası</ion-label>
      <ion-input 
        [disabled]="!isEditingMobileNumber" 
        [(ngModel)]="mobileNumber">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleEdit('mobileNumber')">
          {{ isEditingMobileNumber ? 'Kaydet' : 'Edit' }}
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Birthday -->
    <ion-item lines="full">
      <ion-label position="stacked">Doğum Günü</ion-label>
      <ng-container *ngIf="isEditingBirthday; else birthdayText">
        <ion-datetime display-format="DD MMM YYYY" [(ngModel)]="birthday"></ion-datetime>
      </ng-container>
      <ng-template #birthdayText>
        <div class="static-text">{{ birthday | date:'dd MMM yyyy' }}</div>
      </ng-template>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="toggleEdit('birthday')">
          {{ isEditingBirthday ? 'Kaydet' : 'Edit' }}
        </ion-button>
      </ion-buttons>
    </ion-item>
    
    <ion-item lines="full" class="diet-preferences-item">
      <ion-label position="stacked">Diyet Tercihleri</ion-label>
      <div class="diet-list">
        <ion-chip *ngFor="let preference of dietPreferences">
          <ion-label>{{ preference }}</ion-label>
          <ion-icon name="close-circle" (click)="removeDietPreference(preference)"></ion-icon>
        </ion-chip>
        <ion-chip (click)="openDietModal()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-chip>
      </div>
    </ion-item>
    
    
    
    <ion-modal [isOpen]="isDietModalOpen" (ionModalWillDismiss)="closeDietModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Diyet Tercihlerinizi Seçiniz.</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeDietModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item *ngFor="let option of dietOptions">
              <ion-label>{{ option }}</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="selectedDietPreferences[option]"></ion-checkbox>
            </ion-item>
          </ion-list>
          <ion-button expand="block" (click)="saveDietPreferences()">Save</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>  
  </ion-list>

  
  

  <!-- Save Changes Button -->
  <ion-footer>
    <ion-toolbar>
      <ion-button class ="saveButton" expand="block" color="primary" (click)="saveChanges()">
        Değişiklikleri Kaydet
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
