<ion-header>
  <ion-toolbar>
    <ion-title>Yeni Malzeme Ekle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Arama Çubuğu -->
  <ion-searchbar
    placeholder="Malzeme adı ara..."
    (ionChange)="onSearchChange($event)">
  </ion-searchbar>

  <!-- Malzeme Listesi -->
  <ion-list>
    <ion-item 
      *ngFor="let item of filteredItems"
      (click)="selectItem(item)">
      <ion-label>{{ item.ingredientName }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Sonsuz Kaydırma -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreIngredients($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Daha fazla malzeme yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Seçilen Malzeme ve Ekle Butonu -->
  <div *ngIf="selectedItem" class="selected-item-container">
    <div class="selected-item-row">
      <!-- Seçilen Malzeme -->
      <div class="selected-item">
        Seçilen: <strong>{{ selectedItem.ingredientName }}</strong>
      </div>

      <!-- Ekle Butonu -->
      <ion-button expand="block" class="add-button fixed-button" (click)="confirmItem()">
        Ekle
      </ion-button>
    </div>
  </div>
</ion-content>
