ion-header {
    --background: #FF8C00; 
    --color: #fff;
  }
  
  ion-searchbar {
    --background: #f4f4f5;
    --border-radius: 12px;
    --placeholder-color: #9ca3af;
    --icon-color: #9ca3af;
    margin: 12px;
  }
  
  ion-list {
    margin: 0 12px;
  }
  
  ion-segment-button {
    text-transform: none; // Büyük/küçük harf ayarı
  }
  
  ion-segment {
    margin-top: 16px;
    ion-segment-button {
      --background: transparent; /* Varsayılan arka plan */
      --color: black; /* Varsayılan yazı rengi */
      --indicator-color: #FF8C00; /* Alt çizgi rengini kaldırmak için */
  
      /* Seçili buton stilleri */
      &.ion-activated {
        --color: white; /* Seçili yazı beyaz */
      }
    }
  }
  
  div[style*="padding: 16px;"] {
    border-top: 1px solid #ccc;
    margin-top: 8px;
  }
  .selected-item-container {
    padding: 16px;
  }

  ion-segment {
       white-space: nowrap;
       overflow-x: auto; 
    
  }
  
  .quantity-container {
    /* Miktar kısmını ortalamak için flex layout kullanıyoruz */
    display: flex;
    justify-content: center;    /* Yatayda ortala */
    align-items: center;        /* Dikeyde ortala */
    gap: 16px;                  /* Butonlar arası boşluk */
    margin-top: 16px;
  }
  
  .quantity-number {
    font-size: 18px;
    font-weight: bold;
    width: 36px;
    text-align: center;         /* Sayıyı ortalamak için */
  }
  
  /* Renk ayarları vs. */
  .add-button {
    --background: #FF8C00;
    --color: #fff;
    margin-top: 16px;
    border-radius: 50px;
  }
