ion-content {
  .shopping-list-container {
    padding: 16px;
    padding-bottom: 0px;
  }
  
  .custom-searchbar {
    --background: #f4f4f5;
    --border-radius: 12px;
    --box-shadow: none;
    --placeholder-color: #9ca3af;
    --icon-color: #9ca3af;
    margin-bottom: 16px;
  }
  
  .list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  
    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 500;
      color: #1f2937;
      margin: 0;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      position: relative;
    }
  
    h1::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -8px;
      width: 300px;
      height: 2px;
      background-color: #FF8C00;
    }
  }
  
  .items-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Sağda butonlar */
    margin-bottom: 16px;
  
    .items-count {
      color: #6b7280;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
  
    .selection-buttons {
      display: flex;
      gap: 8px;
  
      ion-button {
        --background: transparent; /* Şeffaf arka plan */
        --color: #FF8C00; /* Turuncu yazı */
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline; /* Tıklanabilir olduğunu belirtmek için */
        padding: 0;
        height: auto; /* Boyutu küçült */
      }
    }
  }
  
  .shopping-list {
    background: transparent;
  
    ion-item {
      --background: #ffffff;
      --border-radius: 8px;
      --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      margin-bottom: 8px;
  
      ion-avatar img {
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  
    ion-item.selected {
      background-color: #f0f9ff;
    }
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 16px;
  
    ion-button {
      flex: 1;
      --border-radius: 12px;
    }
  
    ion-button.add-button {
      --background: #FF8C00;
      --background-hover: #ea580c;
      --color: #ffffff;
      border-radius: 50px;
      margin-top: 15px;
    }
  
    ion-button.color-danger {
      --background: #e74c3c;
      --background-hover: #c0392b;
      --color: #ffffff;
    }
  }
  .small-trash {
    --min-width: 50px;
    --min-height: 50px;
    --ion-color-danger: #e74c3c;
  }

  .small-trash ion-icon {
    font-size: 20px;
  }
}