

ion-content{
  .add-button {
    --background: #f97316;
    --background-activated: #f97316;
    --background-hover: #ea580c;
    --border-radius: 12px;
    --color: #ffffff;
    margin-top: 16px;
    height: 56px;
    font-weight: 600;
  }
  ion-label {
    font-size: 14px; /* Etiketin boyutunu küçült */
    padding: 10px;
  }  
}
