<ion-header class="light-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button src="/assets/icon/chevron-back-outline" defaultHref="/content/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="sub-page">Kart Eşleştirme Oyunu</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div *ngIf="!gameStarted" class="start-screen">
    <ion-button (click)="startGame()">Başlamak İçin Tıkla</ion-button>
  </div>

  <div *ngIf="gameStarted" class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        Kalan Süre <span id="time-remaining">{{ (timeRemaining / 1000).toFixed(0) }}</span>
      </div>
      <div class="game-info">
        Başarılı Eşleştirme <span>{{ flips }}</span>
      </div>
    </div>

    <div *ngFor="let card of cardsArray" class="card" [ngClass]="{'visible': card.visible, 'matched': card.matched}" (click)="flipCard(card)">
      <div class="card-back card-face">
        <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
      </div>
      <div class="card-front card-face">
        <ion-icon [name]="card.icon" size="large" color="secondary"></ion-icon>
      </div>
    </div>
  </div>

  <ion-alert
    [isOpen]="gameOver"
    header="Oyun Bitti"
    message="Kaybettin. Tekrar denemek ister misin?"
    buttons="Restart"
    (didDismiss)="resetGame()"
  ></ion-alert>

  <ion-alert
    [isOpen]="victory"
    header="Tebrikler!"
    message="Kazandın. Tekrar denemek ister misin?"
    buttons="Restart"
    (didDismiss)="resetGame()"
  ></ion-alert>
</ion-content>
