<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Diyet Tercihleri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="curved-header">
    <h1>Herhangi bir diyet uyguluyor musunuz?</h1>
    <h2>Size yalnızca diyetinize yönelik tarifler göstereceğiz.</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let diet of dietOptions">
        <ion-button expand="block" fill="clear" class="diet-button" 
          
            [class.selected]="isDietSelected(diet.id)"
            (click)="toggleDiet(diet)"
            [ngStyle]="{'--selected-color': diet.selectedColor, '--border-color': diet.color}">
            <ion-icon [src]="diet.icon" slot="start"></ion-icon>
        <span>{{ diet.name }}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-button expand="full" shape="round" class="next-button" (click)="next()" [disabled]="selectedDiets.size === 0"
    routerLink="/auth/allergen-filter">İLERLE</ion-button>

</ion-content>

