ion-header {
    position: absolute; /* Header'ın sayfa içinde mutlak konumlandırılması */
    
    ion-toolbar {
      --background: transparent; /* Arka planı şeffaf ayarlanmış */
    }
  }
  
  ion-content {
    .curved-header {
      background: #FF8C00; /* Üst kısım için turuncu arka plan */
      height: 30vh; /* 30% dikey alanı kaplar */
      border-bottom-left-radius: 30px; /* Sol alt köşe kıvrımlı */
      border-bottom-right-radius: 30px; /* Sağ alt köşe kıvrımlı */
      padding: 20px; /* İçerik etrafında boşluk */
      color: white; /* Yazı rengi beyaz */
      
      h1 {
        font-size: 28px; /* Başlık metni büyük */
        margin-bottom: 0; /* Alt boşluk yok */
        padding-top: 20px; /* Üstten boşluk */
        font-weight: bold; /* Kalın yazı */
      }
      
      h2 {
        font-size: 20px; /* Alt başlık metni daha küçük */
        margin-top: 5px; /* Üstten küçük boşluk */
        font-weight: normal; /* Normal kalınlıkta yazı */
      }
    }

    .diet-button span.button-inner {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      margin: 0 !important;
    }
    
    .diet-button {
      background-color: #f4f5f8; /* Varsayılan arka plan rengi */
      color: #000;              /* Varsayılan metin rengi */
      border: 2px solid transparent;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 60px;
      --padding-start: 0px;
      transition: all 0.3s ease-in-out; /* Yumuşak geçiş efekti */
    
      &.selected {
        background-color: #FF8C00; /* Seçilen buton arka plan rengi */
        color: #fff;              /* Seçilen buton metin rengi */
        border: 2px solid #FF8C00;
      }
    }
    
 
      .next-button {
        --background:#FF8C00; /* Turuncu arka plan rengi */
        --background-activated: #f97316 !important;
      --background-focused: #f97316 !important;
        --color: #ffffff; /* Beyaz yazı rengi */
       --border-radius: 50px; 
        width: auto; 
        height: 60px; 
        font-weight: bold; // Metni kalın yapar
        margin-top: 20px;
        margin-right: 15px; // Sağdan boşluk
        float: right; // Butonu sağa yaslar
      }
  }  