<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" src="assets/icon/tab-bar/home.svg"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="dashboard">
      <ion-icon aria-hidden="true" src="assets/icon/tab-bar/chef.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="blog-list">
      <ion-icon aria-hidden="true" src="assets/icon/tab-bar/blog.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="shopping-list">
      <ion-icon aria-hidden="true" src="assets/icon/tab-bar/cart.svg"></ion-icon>
    </ion-tab-button>
     
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" src="assets/icon/tab-bar/profile.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>