<ion-content [fullscreen]="true">
  <div class="curved-header">
    <h1>Hoş Geldiniz</h1>
    <h2>MealMatch'e</h2>
  </div>

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list class="ion-no-padding">
      
      <ion-item lines="none">
        <ion-label position="stacked">E-posta</ion-label>
        <ion-input  formControlName="email" type="email" placeholder="E-posta adresinizi girin"></ion-input>
      </ion-item>

      <ion-item lines="none" class="password-input-container">
        <ion-label position="stacked">Şifre</ion-label>
        <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Şifrenizi girin"></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          (click)="togglePasswordVisibility()"
          class="eye-icon"
        ></ion-icon>
      </ion-item>
    </ion-list>
    
    <div class="forgot-password">
      <ion-button fill="clear" size="small" routerLink="/auth/forgot-password">Şifrenizi mi unuttunuz?</ion-button>
    </div>

    <ion-button type="submit" expand="block" class="login-button">
      <span *ngIf="!loading; else spin">Giriş Yap</span>
      <ng-template #spin>
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      </ng-template>
    </ion-button>
    
    <div class="divider">
      <span>Veya</span>
    </div>

    <!-- <div class="social-buttons">
      <div class="social-btn" (click)="loginWith('google')">
        <ion-icon name="logo-google"></ion-icon>
      </div>
      <div class="social-btn" (click)="loginWith('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
    </div> -->

    <div class="signup-prompt">
      <span>Hesabınız yok mu? </span>
      <ion-button fill="clear" size="small" routerLink="/auth/signup">Şimdi Kayıt Ol</ion-button>
    </div>
    </form>
  </div>
</ion-content>